.resume-page {
    .site-avatar {
        float: right;
    }
    
    body {
        font-family: 'Muli', sans-serif;
    
        h2 {
            font-size: 20px;
            font-family: 'Muli', sans-serif;
            margin-top: 12px;
            margin-bottom: 12px;
        }
    
        h3 {
            font-size: 16px;
        }
    
        h4 {
            font-size: 12px;
        }
    
        .wrapper-masthead {
            margin-bottom: 0;
        }
    }
    
    @mixin resume-main-entry {
        margin: 0;
        font-family: 'Muli', sans-serif;
    }
    
    @mixin resume-secondary-entry {
        margin-top: 0;
        margin-bottom: 0.5em;
        font-family: 'Muli', sans-serif;
    }
    
    @mixin resume-secondary-left {
        width: 50%;
        float: left;
    }
    
    @mixin resume-secondary-right {
        width: 50%;
        float: right;
        text-align: right;
    }
    
    @mixin resume-content {
        p {
            text-align: justify;
            font-size: 14px;
        }
    }
    
    .resume-atom {
        @include resume-main-entry();   
    }
    
    .resume-entity {
        @include resume-secondary-entry();
        @include resume-secondary-left();
    }
    
    .resume-period {
        @include resume-secondary-entry();
        @include resume-secondary-right();
    }
    
    .resume-content {
        @include resume-content();
    }
    
    .education {
        width: 50%;
        float: left;
        padding-right: 0.5em;
    }
    
    .skills {
        width: 50%;
        float: right;
        padding-left: 0.5em;
    }
    
    .other-efforts {
        // width: 50%;
    }
    
    .jobs {
        .resume-content {
            &:last-of-type {
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}